name: Go

on:
  push:
    branches: [ ci-cd ]
  pull_request:
    branches: [ ci-cd ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Get
      run: go get -d -v
    - name: Build
      run: go build -o bin/Gin-Course -v
    - name: Test
      run: go test service/*.go

        
    - name: Deploy
      env:
        Staging : https://gin-course.herokuapp.com/
      run: >
        sudo apt-get update -qy;
        sudo apt-get install -y ruby-dev;
        sudo gem install dpl;
        dpl --provider=heroku --app=pragmatic-video-app --api-key=$HEROKU_API_KEY